/.svn
/.vs
.qmake.stash
/release
/debug
/Qtlib.pro.user
/Qtlib.vcxproj.user
/Build
/Makefile*
/QtLibSound/Makefile*
/QtLibSound/debug
/QtLibSound/release
/QtLibSound/QtLibSound.pro.user
/QtLibSound/QtLibSound.vcxproj.user
/ui_*.h
/.qtc_clangd
